body {
    font-family: "Helvetica", "Verdana", sans-serif;
    background-color: #1D2475;
    background-image: url("../images/CSE326img.jpg");
    background-repeat: no-repeat;
    background-position: top right;
}

a {
    color: #FF4f4f;
    text-decoration-line: none;
    
}
a:hover{
    text-decoration-line: underline;
}

h1, h2{
    color: #F7931E;
}

h1 {
    font-size: 40pt;
    text-shadow: green 3px -3px;
}

dl {
    font-size: 70%;

}

dt{
    font-weight: bold;
    color: #FFF86B;
}

blockquote{
    color: #D1DF2B;
}

ol{
    list-style-type: square;
}

ol, ul, blockquote {
    text-align: left;
}

table, td, th{
    border-collapse: collapse;
    border-style: dotted;
}

img{
    border: 3px;
    border-style: ridge;
    border-color: #F7931E;
}